body{
	margin: 0;
	border: none;
	width: 100vw;
	height: 100vh;
	/*max-width: 870px;*/
	/*max-height: 600px;*/
	/*background-color: #cf0;*/
	font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	color: #1f1f1f;
}
header{
	position: relative;
	width: 100%;
	height: 40px;
	/*height: 80px;*/
	/*background-color: #f00;*/
	border: solid 1px #7f7f7f;
	box-sizing: border-box;
}
nav{
	position: absolute;	
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	display: flex;
}
header nav{
	justify-content: space-between;
}
header nav select{
	background-color: #1f1f1f;
	color: #fff;
	text-align: center;
	/*min-width: 25%;*/
	min-width: 40%;
}
.topNav{
	flex-direction: column;
}
.topNav .row{
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
}
.topNav .subhead{
	flex-grow: 1;
	/*color: yellow;*/
	display: flex;
	align-items: center;
	justify-content: center;
}
.tense{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	/*width: 25%;*/
	width: 60%;
}
.tenseNav{
	width: 40px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: default;
	color: #bfbfbf;
}
.tenseNav.active{
	cursor: pointer;
	color: #1f1f1f;
}
.searchContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
}

main{
	/*background-color: #0f0;*/
	/*flex-grow: 1;*/
	overflow-y: auto;

	position: absolute;
	top: 40px;
	/*top: 80px;*/
	right: 0px;
	bottom: 40px;
	left: 0px;

	border-right: solid 1px #7f7f7f;
	border-left: solid 1px #7f7f7f;
	box-sizing: border-box;

	scroll-behavior: smooth;
}

footer{
	/*position: relative;*/
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0px;
	/*background-color: #00f;*/
}

.navBtn{
	height: 100%;
	/*text-align: center;*/

	display: flex;
	align-items: center;
	justify-content: center;
	
	border: solid 1px #7f7f7f;
	box-sizing: border-box;

	/*margin: 0 2px;*/

	background-color: #fff;
	color: #1f1f1f;

	cursor: pointer;
}
.navBtn.selected{
	background-color: #1f1f1f;
	color: #fff;
	cursor: default;
}
footer nav .navBtn{
	flex-grow: 1;
}

.conditions{
	width: 100%;
	/*height: 60px;*/
	/*height: 90px;*/
	/*height: 120px;*/
	/*background-color: #fc0;*/

	border-bottom: solid 1px #7f7f7f;
	/*border: solid 1px rgba(0,0,0,0.5);*/
	box-sizing: border-box;

	/*margin: 2px 0;*/

	display: flex;

	background-color: #fff;
}



.basic{
	min-height: 60px;
}


/*.observation, .forecast{*/
.observation .basic, .forecast .basic{
	display: flex;
	justify-content: space-between;
}

.conditions .observation{
	width: 40%;
	/*background-color: #77f;*/
	border-right: solid 1px #7f7f7f;
	box-sizing: border-box;
}
/*.conditions .observation .summary div{*/
/*.conditions .observation div{*/
.conditions .observation .basic div{
	display: flex;
	align-items: center;
	justify-content: center;
}
.conditions .observation .icon, .conditions .observation .temperature{
	/*width: 75px;*/
	width: 80px;
}
.conditions .observation .summary .localityName{
	font-weight: bold;
}
.conditions .observation .summary .time{
	font-size: 0.8em;
}
.conditions .observation .temperature{
	/*font-size: 2em;*/
	font-size: 1.6em;
	font-weight: bold;
}
.conditions .observation .summary{
	flex-direction: column;
}

.conditions .forecast{
	width: 60%;
}
.conditions .forecast .range{
	width: 60px;
	display: flex;
	flex-direction: column;
}
.conditions .forecast .range div{
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 1.2em;
}
.conditions .forecast .range .hi{
	color: #f00;
}
.conditions .forecast .range .lo{
	color: #00f;
}

.conditions .forecast .summary{
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
}
.conditions .forecast .summary div{
	/*flex-grow: 1;*/
	display: flex;
	align-items: center;
	justify-content: center;
}
.conditions .forecast .summary .row{
	display: flex;
	/*justify-content: space-between;*/
	justify-content: space-evenly;
	/*font-size: 0.8em;*/
	width: 100%;
}

.conditions .forecast .detailCell .row{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.summaryCell{
	/*min-width: 25%;*/
	margin: 4px 0px 2px;
}
.conditions .forecast .icon{
	width: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.conditions .forecast .expand{
	/*width: 60px;*/
	width: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.localities{
	/*min-height: 100%;*/
	/*min-height: calc(100% - 100px);*/
	min-height: calc(100% - 60px);
	/*height: 100%;*/
}
.localities .conditions:nth-child(odd){
	background-color: #eee;
}
.homeLocality{
	height: 100%;
	display: flex;
	flex-direction: column;
}
/*.conditions.local{*/
.locality.local{
	position: sticky;
	top: 0px;
	/*top: 2px;*/
}
.mapBox{
	width: 100%;

	/*height: 100%;*/
	flex-grow: 1;

	/*background-color: #f0f;*/

	background-image: url(../images/aus.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.prompt{
	width: 100%;
	height: 20px;
	font-size: 0.8em;
	font-weight: lighter;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #bfbfbf;
}


.expanded{
	height: inherit;
}

.hidden{
	display: none;
}

*{
	user-select: none;
}






.description{
	text-transform: uppercase;
}


.detailed{
 /*background-color: #fc0;*/
}
.detailRow{
	display: flex;
	padding: 0 10px;
	/*justify-content: space-evenly;*/
}
.observation .detailCell{
	min-width: 50%;
}
.detailCell{
	/*min-width: 50%;*/
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	min-height: 60px;
	justify-content: center;
	border-top: solid 1px #7f7f7f;

	box-sizing: border-box;
}
.smallHeading{
	font-size: 0.8em;
	text-transform: uppercase;
}
.detailHeading, .detailValue{
	/*position: relative;*/
	min-width: 50%;
	/*width: 50%;*/
	/*flex-grow: 1;*/
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4px 0px 2px;
}

.noBorder{
	border: none;
}

.ampm{
	/*min-width: 25%;*/
	min-width: unset;
	/*margin: 0 5px 0;*/
	margin-right: 1em;
}

.yellow{
	background-color: #fc0;
	/*display: none;*/
}

.warning{
	min-height: 60px;
	width: 100%;
	background-color: #fc0;
}


.conditional{
	display: none;
}
.conditional.shown{
	display: flex;
	align-items: center;
	justify-content: center;
}